<footer class="footer">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h6 class="sm"><a href="/"><i class="fa fa-envelope fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="contact"><i data-toggle="tooltip" data-placement="top" title="Call today to schedule a free initial consultation." class="tooltip-show fa fa-phone-square fa-3x"></i></a></h6>
    </div>
    <div class="col-md-4 col-sm-4">
      <div>
        <h3><a class="mybrand" routerLink="contact">&copy; 2018 - 2019 Consult Brian</a></h3>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <h6 class="sm"><a href="https://www.instagram.com/consultbriansd"><i class="fab fa-instagram fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/ConsultBrianSD"><i class="fab fa-twitter fa-3x"></i></a></h6>
    </div>
  </div>
</footer>
