<div id="content" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8 col-xs">
    <div class="card rounded-top">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2 class="mb-1">Solar Shower</h2>
            <p>April 10th, 2019</p>
            <p class="short">Are you looking for a way to lower your impact on our environment? Use the power of the sun to generate your hot water.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-xs mt-3">
              <p>This solar shower was built a few years ago using pallets and left over materials. The homeowner asked me to move it from it's current location, to a more practical one. After disassembling it and making a few improvements; they now have an outdoor shower with water hot enough that you need to temper it with cold water in the same way you would a conventional shower.</p>
              <p>I coated the the exterior walls with Thompson's Water Seal - Semi Transparent Cedar Stain. And painted the deck with an exterior paint with primer. My friend Ashley painted the towel hooks, shelves, and benches with paint leftover from previous projects. After resetting everything, the homeowner allowed me to take it for a rest run, and it worked great.

              </p>
          </div>
          <div class="col-md-6 col-xs">
              <div id="carouselSolarShower" class="carousel slide carousel-fade" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carouselSolarShower" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselSolarShower" data-slide-to="1"></li>
                      <li data-target="#carouselSolarShower" data-slide-to="2"></li>
                      <li data-target="#carouselSolarShower" data-slide-to="3"></li>
                    </ol>

                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="../../../assets/images/solarshower/solarshower-2.jpg" class="d-block w-100" alt="Solar Shower #1">
                    </div>
                    <div class="carousel-item">
                      <img src="../../../assets/images/solarshower/ss-c-1.png" class="d-block w-100" alt="Solar Shower #2">
                    </div>
                    <div class="carousel-item">
                      <img src="../../../assets/images/solarshower/ss-c-2.png" class="d-block w-100" alt="Solar Shower #2">
                    </div>
                  </div>

                </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="card-body">
        <h4>Since you are still reading, here are the components of this shower.</h4>
        <p class="short">
          <li class="ml-4">Garden Hose</li>
          <li class="ml-4">Black plastic pipe and a location to coil it</li>
          <li class="ml-4">1 - Garden Hose Y-fitting</li>
          <li class="ml-4">Water Temperature Control with Shower Head</li>
          <li class="ml-4">4 Walls</li>
          <li class="ml-4">Platform</li>
          <li class="ml-4">Galvanized Trough</li>
          <li class="ml-4">Drain Line (section of garden hose)</li>
        </p>
        <h4>Improvements & Modifications</h4>
        <p>The home owner asked me to move their solar shower inside their pool area. It was previously just outside that area and you were required to go through two gates to access it. </p>
        <p>After disassembling the water supply and the walls from the deck, I moved all the components to the new location, starting with the hot and cold water supply. The walls got a fresh coat of Thompson's, the deck got two coats of exterior paint with primer, and the shelves and towel hooks received two coats of exterior paint with primer and created a fourth wall, (something that was lacking due to it's previous location).</p>
        <div class="row">
          <div class="col">
            Add carousel
            <img src="../../../assets/images/solarshower-2.jpg" alt="">
          </div>
        </div>
        <h4 class="mt-2">How It Works</h4>
        <p>An ordinary garden hose supplies the water; both to the hot and the cold. The Y-connection diverts water to the coil of black pipe that is heated by the sun and gives us our cold water. Recoiling this water line was a challenge; as I am sure it was originally.</p>
        <p class="short">When you buy a coil of hose, whether it be a garden hose, PEX, or something else, the manufacturer coils it for ease of shipping and display in the store. After weeks and months of being rolled up, these products retain that shape. We usually need them to conform to a different shape, and you should plan accordingly. Laying them out in the sun and or filling them with water will help them relax and make it that much easier to handle.</p>
        <p>As expected, the sun heats the water in the coil of pipe. Each water line is connected to the shower head (reclaimed kitchen sink faucet and shower head). The water used falls into a galvanized trough, that is outfitted with a valve and connected to a garden hose. The trough collects the water and the garden hose diverts the water out to the edge of an embankment, where it is free to seep back into the soil.</p>

      </div>
    </div>
  </div>
  <div id="aside" class=" col-md-3 col-xs-12">
    <img alt="Logo" src="./assets/images/BHSlogo.png">
    <p class="lead">
      Quality is like buy oats. If you want good clean oats, you need to pay
      a fair price. But if you are ok with oats that have already been through
      the horse, well those a a bit cheaper.
    </p>
    <div id="grannyflats" class="card rounded-top mt-1">
      <div class="card-body">
        <div  class="row">
          <div class="col col-xs">
              <h4 class="mb-1"><a routerLink="../granny-flats">San Diego County Waives Permit Fees</a></h4>
              <p class="date">January 18th, 2019</p>
              <p class="short">The San Diego County Board of Supervisors voted unanimously in an attempt to fight the affordable housing crisis.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="composting-toilet" class="card rounded-top mt-1">
        <div class="card-header">
        <div  class="row">
          <div class="col-md-12 col-xs">
            <h4 class="mb-1"><a routerLink="../composting-toilet">Recycle, Reduce, Reuse - Part 2</a></h4>
            <p class="date">Coming Soon</p>
            <p><a class="short" routerLink="../composting-toilet">Composting Toilet</a></p>
            <p>This simple project will do just that.</p>
          </div>
        </div>
        </div>
      </div>
  </div>
  </div>
