<nav id="nav" class="navbar navbar-expand-md navbar-dark navbar-bg container-fluid ">

  <a class="navbar-brand" routerLink="/">
    <a routerLink="home">Consult Brian</a>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="whats-new">What's New</a>
          </li>
        <li class="nav-item">
            <a routerLink="services">Services </a>
        </li>
        <li class="nav-item">
          <a routerLink="photos">Photos </a>
      </li>
        <li class="nav-item">
          <a routerLink="privacy">Privacy </a>
        </li>
        <li class="nav-item">
          <a routerLink="contact">Lets Talk </a>
        </li>
      </ul>
    </div>
</nav>
