<div id="content" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8 col-xs">
    <div class="card rounded-top">
      <div class="card-header">
          <h3 class="mb-1">Resources</h3>
          <p class="lead">Don’t allow the fear of contractors keep you from your dream home. Give me a call, send me an
            email, or <a routerLink="/contact">fill out this form.</a> Set up your free consultation today. I will help you save money and alleviate
            the stress of your next project.
          </p>
      </div>
      <div class="card-body">
        <h4>Common Questions</h4>
        <p>A construction permit is not needed for projects such as wallpapering, painting or similar finish work; fences six feet high or lower; platforms, decks and walks 30 inches high or less over grade or not over basement; and in several other cases. However, reviews may be required from other agencies; be sure to check before building.
        </p>
        <p>For plumbing, mechanical and electrical work, replacement or repair of fixtures (such as changing water faucets or replacing switches) does not normally require a permit. Replacing a water heater or adding a permanently wired light fixture does, however.
        </p>
          <ul class="nav nav-tabs nav-fill" id="resourcesTab" role="tablist">
              <li class="nav-item nav-tab">
                <a class="nav-link tab-links active" id="codes-tab" data-toggle="tab" href="#codes" role="tab" aria-controls="codes"
                 aria-selected="true">Building Codes</a>
              </li>
              <li class="nav-item nav-tab">
                <a class="nav-link tab-links fa-spacer" id="downloads-tab" data-toggle="tab" href="#downloads" role="tab" aria-controls="downloads-tab"
                 aria-selected="false">Downloads</a>
              </li>
            </ul>
            <div class="tab-content" id="resourcesTabContent">
              <div class="tab-pane fade show active" id="codes" role="tabpanel" aria-labelledby="codes-tab">
                <div class="row">
                  <div class="col-sm-8 mt-1">
                    <p class="lead">Here are some useful links to help you started and keep your project on track.
                    </p>
                    <ul class="list-group">
                      <li class="list-group-item list-group-item-light"><a class="link-blue" target="_blank" href="https://www.sandiego.gov/development-services/devprocess/permits/building/documents">Permits / Approvals <i class="fa fa-external-link-square"></i></a> - Basic information on permit submission and the approval process <i class="fas fa-external-link-alt"></i></li>
                      <li class="list-group-item list-group-item-light"><a class="link-blue" target="_blank" href="https://www.sandiego.gov/development-services/industry/building-records-request-form">Building Records </a> - Use this link to request permit records on your home or property <i class="fas fa-external-link-alt"></i></li>
                      <li class="list-group-item list-group-item-light"><a class="link-blue" target="_blank" href="http://apps3.sandiego.gov/siteinfoweb/begin.do">Your Zoning </a> -This app that will allow you to view the zoning of your property <i class="fas fa-external-link-alt"></i></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 mt-3">
                    <div class="card mr-2">
                      <img class="card-img img-fluid" src="../../assets/images/site-plan-drawing.jpg" alt="Sketch-site-plan">
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="downloads" role="tabpanel" aria-labelledby="downloads-tab">
                <div class="row">
                  <div class="col-sm-8 mt-1">
                      <p class="lead">Here are some useful links to help you started and keep your project on track.
                        </p>
                    <ul class="list-group">
                      <li class="list-group-item list-group-item-light"><a href="../../assets/files/Material-List.xls">Material List </a> <i class="fa fa-file-excel"></i>
                        This Excel sheet is formatted with calculations for your projects and is great for cost estimating.  </li>
                      <li class="list-group-item list-group-item-light"><a href="https://www.sandiego.gov/sites/default/files/legacy/development-services/pdf/industry/forms/ds3032.pdf"> General Application (DS-3032) </a> <i class="fa fas fa-file-pdf"></i> This is the initial form that is needed by San Diego county for all building projects</li>
                      <li class="list-group-item list-group-item-light"><a href="https://www.sandiego.gov/sites/default/files/legacy/development-services/pdf/industry/forms/ds3042.pdf"> Owner-Builder Form (DS-3042) </a> <i class="fa fa-file-pdf"></i> This form is required if a building, plumbing, mechanical, or electrical permit is issued to an <b>owner-builder</b></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 mt-3">
                    <div class="card mr-2">
                      <img class="card-img img-fluid pt-3" src="../../assets/images/check-list.jpg" alt="check list">
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div id="aside" class=" col-md-3 col-xs">
      <img alt="Logo" src="../../assets/images/BHSlogo.png">
      <hr>
      <p class="lead">
        Quality is like buy oats. If you want good clean oats, you need to pay
        a fair price. But if you are ok with oats that have already been through
        the horse, well those a a bit cheaper.
      </p>
  </div>
</div>

