
<div id="content" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8 col-xs">
    <div class="card rounded-top">
      <div class="card-header">
        <h2 class="mb-1">Composting Toilet </h2>
        <p>March 18th, 2019</p>
        <p  class="short">A great way to Reduce, Recycle, and Reuse.</p>
        <p><a href="https://farmingmybackyard.com/diy-composting-toilet/">Credit - farmingmybackyard.com/diy-composting-toilet </a></p>
      </div>
      <div class="card-body">
        <p>One of the things that attracted me to moving to California was the states initiatives in recycling, lower water usage, and helping future generations manage the the destruction my parents and I caused. So when I was approached to build a composting toilet, I was all in.</p>
        <p>After one Google search, I found this super simple composting toilet. I will walk you through the process and the materials needed. Also, no materials were purchased for this project. I will be using repurposed materials and scraps from previous projects. I am removing a toilet from and installing this in an RV.</p>
        <h4>Material List</h4>
          <p>Your materials may differ based on your situation</p>
        <div class="row">
          <div class="col-md-6 col-xs">
            <li class="ml-4">(2) 5 gallon buckets</li>
            <li class="ml-4">Toilet Seat & Cover</li>
            <li class="ml-4">Saw Dust</li>
            <li class="ml-4">(2) Formica Cabinet Doors</li>
            <li class="ml-4">(1) 15" X 15" X 3/4" plywood</li>
            <li class="ml-4">(4) 3/4" X 2"</li>
            <li class="ml-4">(8) 2" X 4" X 16"</li>
            <li class="ml-4">(16) 3" Exterior Screws</li>
            <li class="ml-4">(32) 1 5/8" Exterior Screws</li>
          </div>
          <div class="col-md-6 col-xs">
              <div id="carouselCompostToilet" class="carousel slide carousel-fade" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carouselCompostToilet" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselCompostToilet" data-slide-to="1"></li>
                      <li data-target="#carouselCompostToilet" data-slide-to="2"></li>
                    </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../../assets/images/cpt/compost_toilet.jpg" class="d-block w-100" alt="RV Toilet">
                    </div>
                    <div class="carousel-item">
                      <img src="../../../assets/images//cpt/compost_toilet-6.jpg" class="d-block w-100" alt="Composting Toilet">
                    </div>
                    <div class="carousel-item">
                      <img src="../../../assets/images//cpt/compost_toilet-9.jpg" class="d-block w-100" alt="Composting Toilet Complete">
                    </div>
                  </div>

                </div>
          </div>

        </div>
        <h5 class="mt-2">Removing The Old Toilet</h5>

        <p>After taking the necessary measurements, I removed the toilet. I then created a seal, using the foam gasket, a few pieces of 3/4" X 2", and a piece of 3/4" plywood. This is to ensure no gases can escape the RV's holding tank. The plywood will also serve as the base for our 5 gal. bucket will rest on. Remove the lid and seat from the toilet, you will be reusing it for the same purpose later.</p>
        <div class="row">
          <div class="col-md-4 col-xs">
            <img class="card-img img-fluid mt-1" src="../../../assets/images/compost_toilet.jpg" alt="">
          </div>
          <div class="col-md-4 col-xs mt-1">
            <img class="card-img img-fluid" src="../../../assets/images/compost_toilet-4.jpg" alt="">
          </div>
          <div class="col-md-4 col-xs mt-1">
            <img class="card-img img-fluid" src="../../../assets/images/compost_toilet-5.jpg" alt="">
          </div>
        </div>
        <h5 class="mt-2">Framing Out Our Compost Toilet</h5>
        <p>Since I am installed this in an RV, only the front and top needed to be covered. I cut my 2" X 4" to length and screwed them together, then attached them to the floor with 3" exterior grade screws. I then repurposed two formica cabinet doors. These serve as the base for the seat and cover the front, and give you an easy to clean surface. </p>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4 col-xs mt-1">
            <img class="card-img img-fluid" src="../../../assets/images/compost_toilet-6.jpg" alt="">
          </div>
          <div class="col-md-4 col-xs mt-1">
            <img class="card-img img-fluid" src="../../../assets/images/compost_toilet-7.jpg" alt="">
          </div>
        </div>
          <h5 class="mt-2">Final Steps</h5>
        <p>I then measured, marked, and drilled the holes for the seat. After attaching it, I traced the inside of the seat and then added 1" to the diameter of the hole. Using a jig saw I cut out the hole and placed the 5 gallon bucket directly under the hole. Then I added 2" of sawdust to the bottom of the bucket.</p>
        <div class="row">
          <div class="col-md-4 col-xs mt-1">
            <img class="card-img img-fluid" src="../../../assets/images/compost_toilet-8.jpg" alt="">
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 col-xs mt-1">
            <img class="card-img img-fluid" src="../../../assets/images/compost_toilet-9.jpg" alt="">
          </div>
        </div>
        <h5 class="mt-2">How It Works</h5>
            <p>A composting toilet takes human waste, and dry material such as sawdust in this case, crushed leaves, or wood ash and composts it with straw at a high heat to kill potential pathogens. Instead of flushing, cover all the contents with a thick layer of cover material. The cover material is key to making the system work. When the bucket is full, put in an empty bucket and take the full bucket out to your outdoor compost bin.</p>
            <p><a href="https://farmingmybackyard.com/diy-composting-toilet/">Credit - farmingmybackyard.com/diy-composting-toilet </a></p>
        </div>
      </div>
  </div>
  <div id="aside" class=" col-md-3 col-xs-12">
    <img alt="Logo" src="./assets/images/BHSlogo.png">
    <hr>
    <p class="lead">
      Quality is like buy oats. If you want good clean oats, you need to pay
      a fair price. But if you are ok with oats that have already been through
      the horse, well those a a bit cheaper.
    </p>
    <div class="nav flex-column nav-pills" id="servicesNav">
      <a routerLink="../../services"  class="nav-link tab-links active" id="remodeling-tab" data-toggle="pill" aria-controls="remodeling" aria-selected="false">Remodeling Services</a>
    </div>
    <div id="grannyflats" class="card rounded-top mt-1">
      <div class="card-body">
        <div  class="row">
          <div class="col col-xs">
              <h4 class="mb-1"><a routerLink="../granny-flats">San Diego County Waives Permit Fees</a></h4>
              <p class="date">January 18th, 2019</p>
              <p class="short">The San Diego County Board of Supervisors voted unanimously in an attempt to fight the affordable housing crisis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

