<div id="content" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8 col-xs">
      <div class="card rounded-top">
        <div class="card-header">
          <h2 class="mb-1">Here's Whats New</h2>
          <p class="short">A wide variety of projects I am involved in, from remodeling to reducing our impact on our world. </p>
        </div>
      </div>
        <div id="grannyflats" class="card rounded-top mt-1">
          <div class="card-body">
          <div  class="row">
            <div class="col-md-8 col-xs">
                <h4 class="mb-1"><a routerLink="granny-flats">San Diego County Waives Permit Fees</a></h4>
                <p class="date">January 18th, 2019</p>
                <p class="short">The San Diego County Board of Supervisors voted unanimously in an attempt to fight the affordable housing crisis.</p>

            </div>
            <div class="col-md-4 col-xs">
                <img class="card-img img-fluid" src="../../assets/images/granny-flats.jpg" alt="San Diego County">
            </div>
          </div>
          </div>
        </div>
        <div id="composting-toilet" class="card rounded-top mt-1">
          <div class="card-header">
          <div  class="row">
            <div class="col-md-8 col-xs">
              <h4 class="mb-1"><a routerLink="composting-toilet">Recycle, Reduce, Reuse - Part 1</a></h4>
              <p class="date">March 18th, 2019</p>
              <p><a class="short" routerLink="composting-toilet">Composting Toilet</a></p>
              <p>This simple project will do just that.</p>
            </div>
            <div class="col-md-4 col-xs">
              <img class="card-img img-fluid" src="../../../assets/images/compost_toilet-9.jpg" alt="">
            </div>
          </div>
          </div>
        </div>
        <div id="solar-shower" class="card rounded-top mt-1">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-xs">
                <h4 class="mb-1"><a routerLink="solar-shower">Recycle, Reduce, Reuse - Part 2 </a></h4>
                <p class="date">Coming Soon</p>
                <p><a class="short" routerLink="solar-shower">Solar Shower</a></p>
                <p>Are you looking for a way to lower your impact on our environment? Use the power of the sun to generate your hot water.</p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div id="aside" class=" col-md-3 col-xs-12">
      <img alt="Logo" src="./assets/images/BHSlogo.png">
      <hr>
      <p class="lead">
        Quality is like buy oats. If you want good clean oats, you need to pay
        a fair price. But if you are ok with oats that have already been through
        the horse, well those a a bit cheaper.
      </p>
    </div>
</div>



