<a class="portfolio-link portfolio-hover" data-toggle="modal" (click)="garage_2_Modal.show()">
    <img class="img-fluid hover" src="../../assets/images/photos/garage_7.jpg" alt="Garage #2">
  </a>
  <div class="portfolio-caption">
      <h4>Garage - Dehesa</h4>
      <p class="text-muted">Category: <span class="badge badge-light">Drywall &nbsp;</span></p>
  </div>
<div class="modal fade" bsModal #garage_2_Modal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="garage_1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <ngb-carousel>
            <ng-template  ngbSlide>
              <img class="img-fluid" src="../../assets/images/photos/garage_4.jpg" alt="First slide">
            </ng-template>
            <ng-template  ngbSlide>
              <img class="img-fluid" src="../../assets/images/photos/garage_5.jpg" alt="Second slide">
            </ng-template>
            <ng-template  ngbSlide>
              <img class="img-fluid" src="../../assets/images/photos/garage_6.jpg" alt="Third slide">
            </ng-template>
            <ng-template  ngbSlide>
              <img class="img-fluid" src="../../assets/images/photos/garage_7.jpg" alt="Fourth slide">
            </ng-template>
          </ngb-carousel>
          <h4 class="modal-title">Garage</h4>
          <p class="">Garage</p>
          <ul class="list-inline item-intro text-muted">
            <li>Date: April 2019</li>
            <li>Client: "Z" - Dehesa</li>
            <li>Category: <span class="badge badge-light">Drywall &nbsp;</span></li>
          </ul>
          <button class="btn btn-primary" data-dismiss="modal" type="button"  aria-label="Close" 
          (click)="garage_2_Modal.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>
