/* You can add global styles to this file, and also import other style files */

#content{
  padding: 1rem;
}
footer{
  display: block;
  padding-top: 1rem;
  border: 1px solid #093c67;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* padding: .75rem; */
  text-align: center;
} 
.siteUpdate{
  display: block;
  text-align: center;
}

button.mybtn{
  color: white;
  background-color: #093c67;
  cursor: pointer;
}
button.mybtn:hover{
  color: white;
}
.mybrand{
  color:  #093c67;
  font-weight: bold;
  /* padding-right: 50px; */
}
a {
  color: #7c4200;
	font-weight: 500;
}


p{
	text-indent: .5rem;
}
.lead{
	color: #093c67;
	font-size: 1rem;
}
.short{
  color:#093c67;
  font-size: 1.1rem;
	font-weight: 400;
}
.card-img{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

#aside{
  padding-top: 1rem;
  opacity: .8;
}
