<div id="content" class="row container-fluid">

  <div class="col-md"></div> 
  <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="row">
          <div class="col-sm-12 mb-3">
            <div id="mainCarousel" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-interval="10000">
                  <img class="d-block w-100" src="../../assets/images/granny-flats - Copy.jpg" alt="San Diego">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                  <img class="d-block w-100" src="../../assets/images/compost_toilet-8-copy.jpg" alt="Compost Toilet">
                  <div class="carousel-caption d-none d-md-block">
                      <h4><a style="color: #fff" routerLink="whats-new/composting-toilet">Recycle, Reduce, Reuse - Part 1</a></h4>
                  </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                  <img class="d-block w-100" src="../../assets/images/coffee.jpg" alt="coffee">
                  <div class="carousel-caption d-none d-md-block">
                      <h4><a style="color: #fff" routerLink="contact">Schedule your free consultation today</a></h4>
                  </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                  <img class="d-block w-100" src="../../assets/images/site-plan-drawing-cropped.jpg" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
    <ul class="nav nav-tabs nav-fill" id="indexTab" role="tablist">
      <li class="nav-item nav-tab">
        <a class="nav-link tab-links active" id="background-tab" data-toggle="tab" href="#background" role="tab"
         aria-controls="about" aria-selected="true">Background</a>
      </li>
      <li class="nav-item nav-tab">
        <a class="nav-link tab-links" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services"
         aria-selected="false">Services</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="background" role="tabpanel" aria-labelledby="background-tab">
        <div class="row">
          <div class="col-sm-7">
            <p class="lead">Grandson of a carpenter Son of a remodeler
            </p>
            <p>I started swinging a hammer the summer after I turned 12. Nailing down plywood sub-floor by hand, side
              by side with my grand-dad and my father, is a fond memory that has fueled my love of construction all my
              life. Through out high school I worked for my dad on the weekends and over summer vacations. He taught me
              about dealing with other trades, suppliers and our own customers.
            </p>
            <p>Then in September of my senior year of high school, I decided to join the Navy. Building on what I
              learned working for my father, I learned more about people and their plethora of personalities. I was able
              to see places and things that has fueled my ability to envision the big picture, yet focus on important details
              that make my projects feel complete.
            </p>
            <p><a class="link-blue" data-toggle="modal" data-target="#free-modal" href="">Schedule a free consultation
                today.</a>
            </p>
          </div>
          <div class="col-sm-5">
            <div class="card aside-card">
              <img class="card-img img-fluid" src="../../assets/images/Baby-me.jpg" alt="baby pic">
              <div class="card-img-overlay">
                <h5 class=" card-project-w"></h5>
                <p class="card-text card-txt-w"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
        <div class="row">
          <div class="col-sm-8">
            <p class="lead">Providing an array of services for my customers</p>
            <p>From advice and assistance on small projects; to design, layout`, and contractor liaison. Do you have an
              idea or a concept you like, but you don't know if it's possible? I can help with that. Have a DIY project
              you want to tackle? I will provide a material list for you. Need a hand with something? I have two.
            </p>
            <p>It's never easy managing large construction/remodeling projects. By setting up timelines and goals with
              your contractors and only billing you my actual time, you can save money over using a GC.
            </p>
          </div>
          <div class="col-sm-4">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-warning">Project & Site Planning</li>
              <li class="list-group-item list-group-item-warning">Project Assistance</li>
              <li class="list-group-item list-group-item-warning">Material Lists</li>
              <li class="list-group-item list-group-item-warning">Investigation</li>
              <li class="list-group-item list-group-item-warning">Contractor Liaison</li>
              <li class="list-group-item list-group-item-warning"><a routerLink="services">More about my services</a></li>
            </ul>
          </div>
        </div>
        <p><a routerLink="contact">Schedule your free consultation today.</a>
        </p>
      </div>
    </div>
  </div>
  <div id="aside" class=" col-md-3 col-sm-12 col-xs-12">
    <img alt="Logo" class="img-fluid" src="../../assets/images/BHSlogo.png">
    <hr>
    <p class="lead">
      Quality is like buy oats. If you want good clean oats, you need to pay
      a fair price. But if you are ok with oats that have already been through
      the horse, well those a a bit cheaper.
    </p>
  </div>
</div>
