.nav-pills{
  text-align: center;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {

  color: #7c4200;
  background-color: #fff;
  border: solid 1px;
  border-color: #093c67 ;
}

button.btn-link{
  color: #7c4200;
  font-size: 1.2rem;

}
